<div class="modal-backdrop" (click)="close()"></div>
<div class="modal-container flex items-center justify-center">
  <div class="bg-white rounded-lg shadow-lg p-4 max-w-lg w-full relative">
    <button (click)="close()" class="absolute top-2 right-2 text-gray-600 hover:text-gray-900">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
    <div class="mt-4">
      <img [src]="imageSrc" alt="Imagen" class="w-full h-auto rounded-lg">
    </div>
  </div>
</div>
